# eclipse
bin
eclipse
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
run

# sources for assets / textures
assets-sources
classes
